/.fabric
/.packwiz
/cache
/config
/datapacks
/defaultconfigs
/libraries
/logs
/mods
/resourcepacks
/shaderpacks
/versions

/eula.txt
/options.txt
/*/session.lock
/*/**/readme*
/*/**/README*
*.dat_old

*.bak
*.DS_Store
*.jar
*.log*
*.zip
*.*~
