/.fabric
/.java
/.packwiz
/cache
/config
/datapacks
/defaultconfigs
/libraries
/logs
/mods
/resourcepacks
/shaderpacks
/versions

/allowed_symlinks.txt
/debug-profile.json
/eula.txt
/options.txt
/*/session.lock
/*/**/readme*
/*/**/README*
*.dat_old

*.bak
*.DS_Store
*.jar
*.log*
*.zip
*.*~
